html {
    font-size: 62.5%;
    font-family: "Nunito", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --Very-Dark-Gray: hsl(0, 0%, 17%);
    --Dark-Gray: hsl(0, 0%, 59%);
}

body {
    background-color: blue;
}

main {
    display: grid;
    grid-template-rows: repeat(auto-fill, 40px);
    align-items: center;
    justify-items: center;
    height: 100vh;
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    grid-row: 1/6;
    background-image: url('/images/pattern-bg-mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

h1 {
    position: absolute;
    grid-row: 1/2;
    font-size: clamp(2rem, 5vw, 2.4rem);
    font-weight: 700;
    color: white;
}

#search-form {
    position: absolute;
    grid-row: 2/4;
    width: 100%;
    display: flex;
    justify-content: center;
}

#search-form #search-input {
    width: 70%;
    height: 40px;
    max-width: 400px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    color: var(--Dark-Gray);
}

#search-form #search-button {
    width: 12%;
    max-width: 40px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: black;
    cursor: pointer;
}

#search-form #search-button img {
    width: 8px;
}

#search-form #search-button:hover {
    background-color: var(--Very-Dark-Gray);
}

#info-container {
    width: 82%;
    height: 240px;
    grid-row: 3/11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
}

#ip-address, #location, #timezone, #isp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.values {
    font-size: clamp(1.6rem, 3vw, 2rem);
    font-weight: 800;
    color: var(--Very-Dark-Gray);
}

.label-title {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--Dark-Gray);
}

.attribution {
    grid-row: -1;
    padding: 10px;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    color: white;
    && a {
        color: rgb(239, 0, 40);
    }
}

@media (min-width: 740px) {
    .background {
        background-image: url('/images/pattern-bg-desktop.png');
    }

    #info-container {
        height: 120px;
        flex-direction: row;
        grid-row: 4/8;
    }

    #ip-address, #location, #timezone, #isp {
        max-width: 150px;
        align-items: flex-start;
    }

    .separator {
        width: 1px;
        height: 60px;
        background-color: var(--Dark-Gray);
    }
}